*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    diplay:block;
}

body{
    background-color: #000;
}

.grid-container{
    position: relative;
    width: 300px;
    height: 300px;
    top: 180px;
    left: 500px;
    border-radius: 10x;
    background-color:#000;
    box-shadow: 1px 1px 20px #F9F9F9;
    border-radius: 6PX;
    
    

}
.grid-container{
    display: grid;
    grid-template-columns:100px 100px;
    justify-content: center;
    align-content: center;
    gap: 5px;

}


.box{
    width: 100px;
    height: 100px;

}

.box1{
    background-color: #FF5454;
}

.box2{
    background-color: #94F26A;
}
.box3{
    background-color: #00ADFE;
}
.box4{
    background-color:orange;
}

h3{
color: palevioletred;
text-align: center;
margin-top: 200px;
font-size: 20px;
}

.columns{
    column-count:3;
    column-rule: 2px solid #000;
    background-color: #fff;
    font-size: 2rem;
}

.pa{
    
    padding: 10px;
    column-span: all;
    text-align: center;

}

.images{
    padding: 10px;
    margin: 15px;
    border: 2px solid red;
    color: #fff;
}

.images img{
    width: 25%;
    height: auto;

}

.picture{
    align-items: center;
    background-color:#087f5b; 
    border-bottom: 2px solid yellow;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin:20px;
    padding: 10px;
}


.fig-picture{
    width: 35%;
    z-index: 1;
    
}

.nowrap{
    white-space: nowrap;
}

.fig-picture img{
    width: 100%;
    height:auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
    z-index: index 3;

}

.tech{
    color:whitesmoke;
    position: absolute;
    left: 10000px;
}


h2{
    color:whitesmoke;
    font-size:500%;
    text-shadow: 2px 2px 12px #000;
}